<div class="container-fluid p-5" id="admin-background">
    <div class="overflow-hidden mx-5 border border-0 rounded-2 shadow">
        <div class="row g-0">
            <div class="col-2 overflow-hidden">
                <%- include('../partials/sidebarMenu.ejs') %>
            </div>
            <div class="col-10">
                <div class="row g-0">
                    <%- include('../partials/header.ejs') %>
                </div>
                <div class="row g-0">
                    <div class="container-fluid bg-white-200 bg-opacity-75 text-center p-4 po-ralative">
                        <p class="fs-5 text-gray-700 text-start" id="pageTitle">Thông tin cơ sở y tế</p>
                        <div id="contentArea">
                            <div class="row m-0 mb-2">
                                <div class="p-2 border border-0 rounded shadow bg-white">
                                    <% if (facilityInfo) { %>
                                        <span class="text-gray-600 text-start p-0">Cơ sở <%- facilityInfo.name %></span>
                                    <% } else { %>
                                        <span class="text-gray-600 text-start p-0">Không tìm thấy thông tin Cơ sở Y tế này!</span>
                                    <% } %>
                                    <hr class="m-0">
                                    <div class="row g-2">
                                        <div class="col text-start">
                                            <h6><%= facilityInfo.name %></h6>
                                            <p class="m-0">
                                                <i class="fas fa-map-marker-alt m-1"></i> Địa chỉ: <%= facilityInfo.address %>
                                                </p>
                                                
                                            <p class="m-0">
                                                <i class="fas fa-phone-alt m-1"></i> 
                                                Hotline: <%= facilityInfo.contact_number %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row m-0">
                                <div class="col me-2 border border-0 rounded shadow bg-white">
                                    <table class="table table-striped table-bordered caption-top">
                                        <caption>DANH SÁCH BÁC SĨ<hr class="m-0"></caption>
                                        <thead class="table-success">
                                            <tr>
                                                <th>STT</th>
                                                <th>Ảnh</th>
                                                <th>Tên bác sĩ</th>  
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% facilityInfo.doctors.forEach(doc => { %>
                                                <tr>
                                                    <td>1</td>
                                                    <td><%= doc.user.avatar %></td>
                                                    <td><%= doc.user.name %></td>
                                                </tr>
                                            <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col border border-0 rounded shadow bg-white">
                                    <table class="table table-striped table-bordered caption-top">
                                        <caption>DANH SÁCH CHUYÊN KHOA<hr class="m-0"></caption>
                                        <thead class="table-success">
                                            <tr>
                                                <th>STT</th>
                                                <th>Ảnh</th>
                                                <th>Tên bác sĩ</th>  
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% facilityInfo.doctors.forEach(doc => { %>
                                                <tr>
                                                    <td>1</td>
                                                    <td><%= doc.user.avatar %></td>
                                                    <td><%= doc.user.name %></td>
                                                </tr>
                                            <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
